# Public settings embedded when building the APK. Never put tokens or keys here.
POS_BRIDGE_HTTPS_SETUP_TTL_MS=600000
POS_BRIDGE_HTTPS_VIDEO_IOS=""
POS_BRIDGE_HTTPS_VIDEO_ANDROID=""
POS_BRIDGE_HTTPS_VIDEO_WINDOWS=""
POS_BRIDGE_HTTPS_VIDEO_MACOS=""
POS_BRIDGE_HTTPS_GUIDE_IOS="https://support.apple.com/es-es/102390"
POS_BRIDGE_HTTPS_GUIDE_ANDROID="https://support.google.com/pixelphone/answer/2844832?hl=es"
POS_BRIDGE_HTTPS_GUIDE_WINDOWS="https://learn.microsoft.com/es-es/windows-hardware/drivers/install/trusted-root-certification-authorities-certificate-store"
POS_BRIDGE_HTTPS_GUIDE_MACOS="https://support.apple.com/es-es/guide/keychain-access/kyca11871/mac"
